<!-- <!DOCTYPE html>
<html>
<head>
  <!-- Include Tailwind CSS -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 ">
  <nav class="bg-blue-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo -->
        <!-- <div class="text-white text-2xl font-semibold">Logo</div>
         -->
        <!-- Navigation Links -->
        <!-- <div class="space-x-4">
            <a href="/" class="text-white hover:underline">Home</a>
        </div> --> -->
        
        <!-- Login and Sign Up Buttons -->
        <div>
            <!-- <a href="/logout/" class="text-white mr-4 hover:underline">Logout</a> -->
            <!-- <a href="/views/signup" class="bg-white text-blue-500 px-4 py-2 rounded-full hover:bg-blue-100">Sign Up</a> -->
        </div>
    <!-- </div>
</nav>
<div class="bg-gray-100 flex flex-col items-center justify-center ">

<div class="container mx-auto p-4 text-center">
  <h2 class="text-2xl font-semibold">
    Welcome to your
    Dashboard</h2>
  <a href="/task/create/" class="bg-blue-500 text-white rounded mr-4 p-2 mt-4 inline-block">Create Task</a>

  <!-- Filter buttons with Tailwind CSS -->
  <!-- <div class="mt-4">
    <button class="bg-yellow-500 text-white rounded p-2" id="completedFilter"><a href="/task/">All Tasks</a></button>
    <button class="bg-blue-500 text-white rounded p-2 mx-2" id="pendingFilter"><a href="/task/pending">Pending Tasks</a></button>
    <button class="bg-green-500 text-white rounded p-2" id="completedFilter"><a href="/task/completed">Completed Tasks</a></button>
  </div> --> -->

  <!-- Table with reduced width and centered -->
  <table class="w-1/2 mx-auto mt-4 bg-white shadow-md rounded-lg">
    <!-- <thead>
      <tr>
        <th class="px-4 py-2">Title</th>
        <th class="px-4 py-2">Description</th>
        <th class="px-4 py-2">Status</th>
        <th class="px-4 py-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <% tasks.forEach(function(task){ %>
        <tr>
          <td class="px-4 py-2"><%= task.title %></td>
          <td class="px-4 py-2"><%= task.description %></td>
          <td class="px-4 py-2"><%= task.state %></td>
          <td class="px-4 py-2">
            <a href="/edit/<%= task._id %>" class="text-blue-500 hover:text-blue-700 mr-2">
              <i class="fas fa-edit"></i>
            </a>
            <a href="/delete/<%= task._id %>" class="text-red-500 hover:text-red-700">
              <i class="fas fa-trash-alt"></i> -->
            <!-- </a>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
</div>

</body>
</html> --> -->